<h1>Edit Contact</h1>

<br/>
<%= render "form", friend: @friend %>

<br/>

<div>
  <%= link_to "Show this Contact", @friend, class:"btn btn-primary" %> 
  <%= link_to "Back to Contacts", friends_path, class:"btn btn-primary" %>
</div>
